<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <meta http-equiv="Content-Security-Policy" content="script-src 'self';" />

    <title>RevMovies</title>

    <link rel="stylesheet" href="/static/css/home.css" />
    <link rel="manifest" href="/static/manifest.json" />
    <link rel="icon" type="/image/x-icon" href="static/images/favicon.png" />
  </head>

  <h1 class="banner">Rev Movies</h1>

  <!-- Include a navigation menu -->
  <nav>
    <a href="/">Home</a>
    {% if not session['username'] %}
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    {% else %}
    <a href="/logout">Logout</a>
    {% endif %}
    <a href="/movie_list">Movie List</a>
    <a href="/review_list">Review List</a>
  </nav>
  <h2>Add a review</h2>

  <form action="/add/{{movie['id']}}" method="post">
    <label>Movie: </label>
    <input type="text" name="movie" id="movie" />
    <label>Title: </label>
    <input type="text" name="title" id="title" />
    <label> Review Date: </label>
    <input type="date" name="review_date" id="review_date" />
    <label>Rating: </label>
    <input type="integer" name="rating" id="rating" />
    <label>Review Text:</label>
    <input type="text" name="review_text" id="review_text" />
    <input type="submit" value="Add Review" />
  </form>
</html>
