{% extends "base.html" %} {% block content %}

<h2>Add a review</h2>

<form action="/edit/{{review['id']}}" method="post">
  <label>Movie: </label>
  <input type="text" name="movie" id="movie" value="{{movie['movie_name']}}" />
  <label>Title: </label>
  <input type="text" name="title" id="title" value="{{review['title']}}" />
  <label> Review Date: </label>
  <input
    type="date"
    name="review_date"
    id="review_date"
    value="{{review['review_date']}}"
  />
  <label>Rating: </label>
  <input
    type="integer"
    name="rating"
    id="rating"
    value="{{review['rating']}}"
  />
  <label>Review Text:</label>
  <input
    type="text"
    name="review_text"
    id="review_text"
    value="{{review['review_text']}}"
  />
  <input type="submit" value="Add Review" />
</form>
{% endblock %}
