{% extends "base.html" %} {% block content %}

<body class="text">
  Here is where you can view the full list of movies that are available to view
  and review!
</body>

<table class="movie_table">
  <thead>
    <th>movie_name</th>
    <th>release_date</th>
    <th>movie_description</th>
    <th>genre</th>
  </thead>

  <tbody>
    {%for movie in movies%}
    <tr>
      <td>
        <a href="/movie/{{movie['id']}}">{{ movie['movie_name']}}</a>
      </td>
      <td>{{ movie['release_date']}}</td>
      <td>{{ movie['movie_description']}}</td>
      <td>{{ movie['genre']}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
