{% extends "base.html" %} {% block content %}

<h1>{{movie['movie_name']}}</h1>
<h2>{{movie['release_date']}} {{movie['genre']}}</h2>
<p>{{movie['movie_description']}}</p>
<h3>{{movie['movie_name']}} Reviews</h3>

<table class="movie_table">
  <thead>
    <th>title</th>
    <th>review date</th>
    <th>rating</th>
    <th>review</th>
  </thead>

  <tbody>
    {%for review in reviews%}
    <tr>
      <td>{{ review['title']}}</td>
      <td>{{ review['review_date']}}</td>
      <td>{{ review['rating']}}</td>
      <td>{{ review['review_text']}}</td>
      <td>
        <a href="/edit/{{review['id']}}"><button>Edit review</button></a>
      </td>
      <td>
        <a href="/delete/{{review['id']}}"><button>Delete review</button></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="/add/{{movie['id']}}"><button>Add review</button></a>

{% endblock %}
